@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'soccer_league';
    src: url('../src/font/soccerleague-webfont.woff2') format('woff2'),
         url('../src/font/soccerleague-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


.btn-svg {
    background: url("../src/img/goal-btn-menu.svg") center center, linear-gradient(89.97deg, rgba(22, 32, 61, 0.01) -2.27%, rgba(22, 32, 61, 0.39) 25.9%, rgba(32, 61, 114, 0.8) 47.31%, rgba(22, 32, 61, 0.6) 68.73%, rgba(22, 32, 61, 0.01) 100.54%);
    background-size: contain;
    
}

.btn-svg:hover {
    background: url("../src/img/goal-btn-menu-hover.svg") center center, linear-gradient(89.97deg, rgba(22, 32, 61, 0.01) -2.27%, rgba(22, 32, 61, 0.39) 25.9%, rgba(32, 61, 114, 0.8) 47.31%, rgba(22, 32, 61, 0.6) 68.73%, rgba(22, 32, 61, 0.01) 100.54%);
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all ease-in-out 0.3s;
    transform: scale(1.15);
}

.ball-blur {
    filter: blur(1px);
    opacity: 0.7;

}

@media (max-width: 768px) {
    .btn-svg, .btn-svg:hover {
        background-size: cover;
    }
    
}


