@tailwind base;
@tailwind components;
.price-card {
    @apply absolute bottom-1 w-11/12 text-white bg-black text-center text-xl tracking-wider bg-opacity-30;
}

@tailwind utilities;

@font-face {
    font-family: 'soccer_league';
    src: url('./assets/font/soccerleague-webfont.woff2') format('woff2'),
         url('./assets/font/soccerleague-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: "optimus";
    src: url('./assets/font/Optimus.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}


.btn-svg {
    background: url("./assets/img/goal-btn-menu.svg") center center, linear-gradient(89.97deg, rgba(22, 32, 61, 0.01) -2.27%, rgba(22, 32, 61, 0.39) 25.9%, rgba(32, 61, 114, 0.8) 47.31%, rgba(22, 32, 61, 0.6) 68.73%, rgba(22, 32, 61, 0.01) 100.54%);
    background-size: contain;
    
}

.btn-svg:hover {
    background: url("./assets/img/goal-btn-menu-hover.svg") center center, linear-gradient(89.97deg, rgba(22, 32, 61, 0.01) -2.27%, rgba(22, 32, 61, 0.39) 25.9%, rgba(32, 61, 114, 0.8) 47.31%, rgba(22, 32, 61, 0.6) 68.73%, rgba(22, 32, 61, 0.01) 100.54%);
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all ease-in-out 0.3s;
    transform: scale(1.15);
}

.shadow-aside {
    box-shadow: inset 0 0 60px 5px #adddff38;
}

.btn-back:hover{
    transition: all ease-in-out 0.3s;
    transform: scale(1.1);
}

.items-menu {
    font-family: "Optimus", sans-serif;
    letter-spacing: 0.15rem;
    box-shadow: inset 0 0 7px 1px #30dcff80;
    background: rgba(8, 94, 147, 0.438);
    background: linear-gradient(180deg, rgba(8, 94, 147, 0.452) 0%, rgba(16, 41, 66, 0.445) 100%);
    font-size: 28px;
    cursor: pointer;
    border-radius: 2px;
    
}

.items-menu:hover, .items-menu::before, .items-menu:active {
    box-shadow: 0 0 8px 5px #fff7005d;
    transition: all ease-in-out 0.3s;
}

.items-menu img {
    width: 20px;
    margin-right: 1.5rem ;
}

.title-division {
    font-family: "Optimus", sans-serif;
    font-size: 2rem;
    color: white;
}

.price-card {
    font-family: "Optimus", sans-serif;
}

.ball-blur {
    filter: blur(1px);
    opacity: 0.7;

}

@media (max-width: 768px) {
    .btn-svg, .btn-svg:hover {
        background-size: cover;
    }
    
}


